{% extends 'base.html' %}
{% block content %}
<article>
    <h2>Register</h2>
    <form method="POST" action="/register">
        <fieldset>
            <label for="username">
                Username
                <input type="text" id="username" name="username" required>
            </label>
            <label for="password">
                Password
                <input type="password" id="password" name="password" required>
            </label>
            <label>
                <input type="checkbox" id="terms" name="terms">
                I agree to the Terms and Conditions
            </label>
        </fieldset>
        <input type="submit" value="Register">
    </form>
</article>
{% endblock %}